@charset "UTF-8";

/* 回答はここに書いてね */
.content{
  width: 940px;
  background-color: #eff3f4;
  padding: 20px;
  margin: auto;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  word-break: break-all;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.img-left{
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.img-right{
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* 回答はここに書いてね */
