@charset "UTF-8";

/* 回答はここに書いてね */
.content {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.table {
  margin-bottom: 20px;
  text-align: center;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table1:last-child {
  margin-bottom: 0;
}

.cell-box {
  padding: 20px;
  display: table-cell;
}

.flesh {
  background-color: #fdc8b8;
  width: 100px;
}

.purple {
  background-color: #e0abd9; 
  vertical-align: top;
}

.buru {
  background-color: #b6d8ed;
  width: 100px;
}

.yello {
  background-color: #e5d32e;
}

.pink {
  background-color: #ec8f9a;
  
}

.green {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
