@charset "UTF-8";

/* 回答はここに書いてね */
.box {
  background-color: #ECF1F2;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.box .q5-box{
  position: absolute;
  width: 100px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
}

.q5-box.is-1 {
  z-index: 1;
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
}

.q5-box.is-2 {
  z-index: 2;
  top: 120px;
  right: 120px;
  background-color: #7084DE;
}

.q5-box.is-3 {
  z-index: 3;
  top: 200px;
  right: 40px;
  background-color: #d0ecea;
}

.q5-box.is-4 {
  z-index: 4;
  bottom: 120px;
  right: 120px;
  background-color: #8b7a5e;
}

.q5-box.is-5 {
  z-index: 5;
  bottom: 40px;
  left: 200px;
  background-color: #9fd6d2;
}

.q5-box.is-6 {
  z-index: 6;
  bottom: 120px;
  left: 120px;
  background-color: #fffee4;
}

.q5-box.is-7 {
  z-index: 7;
  top: 200px;
  left: 40px;
  background-color: #deae70;
}

.q5-box.is-8 {
  z-index: 8;
  top: 120px;
  left: 120px;
  background-color: #de70cf;
}

.q5-box.is-8:after {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  background-color: #ffefd3;
  content: "";
}

.q5-box.is-9 {
  z-index: 9;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
  position: fixed;
}