@charset "UTF-8";

/* 回答はここに書いてね */
.table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.table tr{
  border: solid 1px #dedede;
  padding: 10px;
}

.table td{
  border: solid 1px #dedede;
  padding: 10px;
}

.table th {
  border: solid 1px #dedede;
  padding: 10px;
}

.table th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.table tr:nth-child(2n+1) {
  background-color: #ecf1f2;
}

.table tbody tr:last-child {
  border-top: 2px dashed #111 ;
}
/* 回答はここに書いてね */
