@charset "UTF-8";

/* 回答はここに書いてね */
table{
  table-layout: fixed;
  width: 100%;
}

tr,td,th{
  border: solid 1px #dedede;
  padding: 10px;
  text-align: center;
}

td,tr{
  font-size: 16px;
  line-height: 22px;
}

th{
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

tr:nth-child(2n+1){
  background-color: #ecf1f2;
}

.ten{
  border-top: 2px dashed #111 ;
}
/* 回答はここに書いてね */
