@charset "UTF-8";

/* 回答はここに書いてね */
.in {
  text-align: center;
}

.align {
  background-color: #e6f2ff;
  display: inline-block;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin {
  background-color: #e6f2ff;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}

.table-box .table-text {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}

.table-box {
  display: table;
}

.table { 
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-text {
  background-color: #fff;
  padding: 10px;
}

.is-stable {
  position: relative;
}

.is-stable .q6__box__inner {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.is-flexible .q6__box__inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
