.q8__box {
  margin: 0 auto;
  width: 500px;
  height: 333px;
  position: relative;
  overflow: hidden;
}

.q8__box__photo {
  transition: 0.5s;
}

.q8__box:hover .q8__box__photo {
  transform: scale(1.5, 1.5);
}

.q8__box:hover .q8__box__trans{
  bottom: 0%;
}

.q8__box__trans {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  transition: all .5s;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
}

.q8__box__trans__text {
  position: absolute;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  padding: 20px;
  bottom: 0;
  word-break: break-all;
}

.q8__circle {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 10px solid #ECF1F2;
  border-radius: 50%;
  border-top-color: #00bcd4;
  animation : rotate 1.1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


